version: "2.1"
services:
  loragtwpktfwd:
    restart: always
    image: pastagringo/loragtwpktfwd
    privileged: true
  helium_miner:
    restart: always
    image: quay.io/team-helium/miner:miner-arm64_2020.07.17.0_GA
    ports:
      - "44158:44158/tcp"
      - "1680:1680/udp"
    volumes:
      - 'miner-data:/var/data'
      - 'miner-log:/var/log/miner'
    environment:
      - 'REGION_OVERRIDE=EU868'

volumes:
  miner-data:
  miner-log:
